@charset "UTF-8";
   

table{
  font-family: Times New Roman; 
  color:black; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  background-color:skyblue; 
  border-collapse: collapse; 
  border: 2px solid #c0c0c0
}
table.inner{
	 
  border: 2px
}
input[type=text] {
  width: 100%;
  padding: 6px 7px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: #c8c0a6;
}